@import '../../../styles/helpers/media';

.random-news {
    margin-top: 40px;
    padding-top: 50px;
    text-align: center;

    @include media-custom(900px) {
        padding-top: 100px;
    }

    &__wrap {
        max-width: 650px;
        margin: 0 auto;
    }
}
